.banner{
  width:100%;
  display:block;
}

.banner .banner-image{
  width:100%;
}

.nav{
  background-color:#ffffff;
  color: #000000;
  list-style: none;
  padding: 20px 0 20px 0;
}

nav ul{
  justify-content: center;
}

nav li{
  display: inline-block;
  justify-content: center;
  padding: 25px 25px 25px 100px;
  font-size: 15px;
}

nav li a{
  text-align: center;
  text-decoration: none;
  color: #000000;
}

h1{
  text-align: center;
  padding: 25px 25px 25px 25px;
  font-size: 40px;
}
.accroche, .agenda{
  text-align: center;
  background-color: #d3d0cb;
  margin:20px 0px 20px 0;
  padding:20px 0px 20px 0;
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  width:100%;
  font-style:italic;
}

body{
  margin:0;
  padding:0;
  font-family:'Vollkorn', serif;
}
/* .logo {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
*/

.AccueilPhoto{
/*display:flex;
display:inline;*/
  display:inline-block;
  justify-content: center;
  margin:20px;
  padding: 10px;
}

.Hoxton1, .Hoxton2, .Hoxton3{
  display:inline-block;
  margin:20px;
  padding:10px;
}


.AccueilPhoto .Hoxton1, .Hoxton2, .Hoxton3{
display:inline;
margin: 0 auto;
height: 100%;
width: auto;
}

/*
.AccueilPhoto .Hoxton1, .Hoxton2, .Hoxton3{
    display:inline block;
}
*/

.presentation1{
  text-align: center;
  font-size: 25px;
  font-style:italic;
  width: 700px;
  margin:50px 50px 50px 250px;
}
/*partie comment*/
.presentation2{
  display:flex;
  flex-direction: row;
  box-sizing: border-box;
  padding:20px 20px 20px 20px;
}

.carousel-inner{
  display:flex;
  flex-direction:row;
  width:440px;
  padding: 0px 20px 20px 20px;
  margin: 0px 20px 50px 20px;
}

.commentintro .comment1, .carousel-inner{
  display: flex;
  flex-direction: row;
  margin: 10px 50px 50px 100px;
  box-sizing: border-box;
}

/*partie nous*/
.presentation3{
  display:flex;
  flex-direction: row;
  box-sizing: border-box;
  padding:20px 20px 20px 20px;
}
.carousel-inner2{
  display:flex;
  flex-direction: row;
  padding: 0px 20px 20px 20px;
  margin: 0px 50px 20px 20px;
  width:340px;
}

.pournousintro .carousel-inner2, .pournous1{
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 100px 50px 50px;
  box-sizing: border-box;
}

/* partie chez nous */
.presentation4{
  display:flex;
  flex-direction: row;
  padding:20px 20px 20px 20px;
  margin:50px 10px 30px 100px;
  box-sizing: border-box;
}

.agenda{
  text-align: center;
  font-size: 20px;
}

.footer{
	background-color: white;
	padding: 20px;
	text-align: center;
  text-decoration: : none;
}

em{
  font-size: 25px;
  font-weight: bold;
  padding: 20px 20px 50px 0px;
}

.containeragenda{
  display:flex;
  justify-content: center;
}

ul li {
  list-style: none;
  display:inline;
  justify-content: space-around;
}


/* CSS de la page chambres */
/* le h5 c'est dans page quartier*/
.shoebox{
  margin-top: 0px;!important
}

.shoebox .shoeboxdescription, .shoeboximages{
  flex-wrap: wrap;
}

.shoeboxdescription, .cosydescription, .roomydescription, .biggydescription{
  flex-wrap: wrap;
  justify-content: center;
  margin:100px 20px 20px 50px;
  box-sizing: border-box;
}

.shoeboximages, .cosyimages, .roomyimages, .biggyimages{
  display: inline-block;
  flex-wrap:wrap;
  justify-content: center;
  margin: 20px 20px 20px 50px;
}


.typesdechambres .shoebox, .cosy, .roomy, .biggy{

}

/* CSS de la page reservation */
.agenda{
  background-color:#d3d0cb;
  text-align: center;
  margin:40px 0px 40px 0;
  padding:20px 0px 20px 0;
  font-size: 20px;
  font-family: 'Source Serif Pro', serif;
}
/*commence ici le bootstrap du booking résa*/
.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Alice', serif;
	background: rgba(133, 104, 73, 0.33);
}

.booking-form {
	position: relative;
	max-width: 912px;
	width: 100%;
	margin: auto;
	background: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
}

.booking-form .booking-bg {
	position: absolute;
	left: 25px;
	top: -25px;
	bottom: -25px;
	width: 400px;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
	padding: 25px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.booking-form .booking-bg::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(133, 104, 73, 0.78);
}

.booking-form>form {
	margin-left: 425px;
	padding: 30px;
}

.booking-form .form-header {
	margin-bottom: 30px;
	margin-top: 60px;
	position: relative;
	z-index: 20;
}

.booking-form .form-header h2 {
	font-family: 'Playfair Display', serif;
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 900;
	color: #fff;
	font-size: 42px;
	text-transform: capitalize;
}

.booking-form .form-header p {
	color: #fff;
	font-size: 18px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 45px;
	padding: 0px 15px;
	color: #151515;
	border: 1px solid #e5e5e5;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #e5e5e5;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #e5e5e5;
}

.booking-form .form-control::placeholder {
	color: #e5e5e5;
}

.booking-form .form-control:focus {
	background: #f8f8f8;
}

.booking-form input[type="date"].form-control:invalid {
	color: #e5e5e5;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control:invalid {
	color: #e5e5e5;
}

.booking-form select.form-control option {
	color: #151515;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 3px;
	bottom: 5px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #e5e5e5;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #856849;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	font-weight: 400;
	margin-left: 20px;
}

.booking-form .form-btn {
	margin-top: 30px;
}

.booking-form .submit-btn {
	display: block;
	width: 100%;
	color: #fff;
	background-color: rgba(133, 104, 73, 0.9);
	font-weight: 700;
	font-size: 18px;
	border: none;
	border-radius: 40px;
	height: 55px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	background-color: rgba(133, 104, 73, 1);
}

@media only screen and (max-width: 768px) {
	.booking-form .booking-bg {
		position: relative;
		left: 0;
		right: 0;
		bottom: 0;
		top: -15px;
		width: 95%;
		margin: auto;
	}
	.booking-form>form {
		margin-left: 0px;
	}
}

/* finit ici le bootstrap reservation*/

/* CSS de la page de Services*/

.piscine{
  margin:50px 20px 50px 250px;
  width:100%;
  height:100%;
}

.soins2{
  margin: 20px 20px 50px 200px;
}

.rooftop{
  margin: 50px 20px 20px 35px;
}

.autres{
  text-align: center;
  background-color: #d3d0cb;
  margin:20px 0px 20px 0;
  padding:20px 0px 20px 0;
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  width:100%;
  font-style:italic;
}

/* CSS de la page quartier */

.menuquartier, .menuchambres{
  text-align: center;
  margin:20px 40px 20px 40px;
  padding: 20px 40px 20px 40px;
}

#trait_dessus {
  border: 1px ;
  width : 50%;
  margin:auto;
}

h5{
  color: #87764e;
  font-size: 36px;
  font-family: baueur-grotesk-ot; /*a rajouter plus tard*/
  text-align: center;
}

.imagesquartiers{
  display:flex;
  justify-content: center;
  margin:auto;
  padding: 20px 20px 20px 20px;
}

.descriptionsquartiers{
  margin:20px 40px 20px 40px;
  padding: 20px 40px 20px 40px;
}

/* CSS de la page contact */
.contact, .formulaire{
  font-family: 'Quicksand', sans-serif;
  background-color: #fff5f1;
  color:#000000;
}

.telephone, .mail, .acces{
  display:flex;
  justify-content: center;
  margin:auto;
  padding: 10px 20px 10px 20px;
}

.demande{
  display:flex;
  justify-content: center;
  margin:auto;
}
